In [2]:
# Defining the class
class myclass:
  def __init__(self): #Special method, will be called when created the class.
    self.name = "Pavan"
    self.age = 32
  def display(self):
    print("Name: ", self.name)
    print("Age: ", self.age)

# Creating the classes
obj1 = myclass();
obj2 = myclass();
obj3 = myclass();

obj1.display()
obj2.display()
obj3.display()

Name:  Pavan
Age:  32
Name:  Pavan
Age:  32
Name:  Pavan
Age:  32

In [3]:
# Defining the class with parameter constructor
class myclass:
  def __init__(self, name,age): #Special method, will be called when created the class.
    self.name = name
    self.age = age
  def display(self):
    print("Name: ", self.name)
    print("Age: ", self.age)

# Creating the classes
obj1 = myclass("Pavan",32);
obj2 = myclass("Mouni", 27);
obj3 = myclass("Theeksha",1);

obj1.display()
obj2.display()
obj3.display()

Name:  Pavan
Age:  32
Name:  Mouni
Age:  27
Name:  Theeksha
Age:  1