In [2]:
# Defining the class
class myclass:
  def __init__(self): #Special method, will be called when created the class.
    self.name = "Pavan"
    self.age = 32
  def display(self):
    print("Name: ", self.name)
    print("Age: ", self.age)

# Creating the classes
obj1 = myclass();
obj2 = myclass();
obj3 = myclass();

obj1.display()
obj2.display()
obj3.display()

Name:  Pavan
Age:  32
Name:  Pavan
Age:  32
Name:  Pavan
Age:  32

In [3]:
# Defining the class with parameter constructor
class myclass:
  def __init__(self, name,age): #Special method, will be called when created the class.
    self.name = name
    self.age = age
  def display(self):
    print("Name: ", self.name)
    print("Age: ", self.age)

# Creating the classes
obj1 = myclass("Pavan",32);
obj2 = myclass("Mouni", 27);
obj3 = myclass("Theeksha",1);

obj1.display()
obj2.display()
obj3.display()

Name:  Pavan
Age:  32
Name:  Mouni
Age:  27
Name:  Theeksha
Age:  1

In [6]:
# circle class with parameter constructor
class circle:
  def __init__(self, r):
    self.radius = r

  def area(self):
    ar = 3.14*self.radius*self.radius
    print("Area: ", ar)
  def perimeter(self):
    cir = 2*3.14*self.radius
    print("perimeter: ", cir)

# Creating the classes
obj1 = circle(1);
obj2 = circle(2);
obj3 = circle(3);

obj1.area()
obj1.perimeter()
obj3.area()
obj3.perimeter()

Area:  3.14
perimeter:  6.28
Area:  28.259999999999998
perimeter:  18.84

In [7]:
class Myclass:  # default constructor
  def __init__(self,na=" Default name",ag=100):  #special method , will be called when the obj is created
    self.name = na
    self.age = ag

  def display(self):
    print("Name:", self.name)
    print("Age:", self.age)


obj1 = Myclass()
obj2 = Myclass("John",21)
obj3 = Myclass("Geetha",23)
obj4 = Myclass()

obj1.display()
obj2.display()
obj3.display()
obj4.display()

Name:  Default name
Age: 100
Name: John
Age: 21
Name: Geetha
Age: 23
Name:  Default name
Age: 100

In [9]:
#Class with instance attributes and class attributes
class myclass:
  college = "PBR VITS"
  def __init__(self): #Special method, will be called when created the class.
    self.name = "Pavan"
    self.age = 32
  def display(self):
    print("Name: ", self.name)
    print("Age: ", self.age)
    print("Collage:",self.college)

# Creating the classes
obj1 = myclass();
obj1.display()
myclass.college = "ABC"

obj2 = myclass();
obj2.display()

obj3 = myclass();
obj3.age = 40
obj3.display()

Name:  Pavan
Age:  32
Collage: PBR VITS
Name:  Pavan
Age:  32
Collage: ABC
Name:  Pavan
Age:  40
Collage: ABC

In [10]:
#built in class functions

class Emp:
  def __init__(self,name,age,sal):
    self.name = name
    self.age = age
    self.sal = sal

e1 = Emp("Naga",23,20000)
e2 = Emp("Geetha",20,30000)

k =getattr(e1,"age")
print(k)

setattr(e2,'name','Kavin')
print(e2.name)

delattr(e2,'age')
print(e1.age)

print(hasattr(e2,'age'))

23
Kavin
23
False

In [13]:
#built in class attribute

class Emp:
  '''This is the emp example class to understand the OOPs concepts..'''
  def __init__(self,name,age,sal):
    self.name = name
    self.age = age
    self.sal = sal

e1 = Emp("Naga",23,20000)
e2 = Emp("RAM",20,30000)

print(Emp.__doc__)
print(Emp.__name__)
print(Emp.__module__)
print(Emp.__dict__)

print(e1.__dict__)
print(e2.__dict__)

This is the emp example class to understand the OOPs concepts..
Emp
__main__
{'__module__': '__main__', '__doc__': 'This is the emp example class to understand the OOPs concepts..', '__init__': <function Emp.__init__ at 0x7e1afba7eb00>, '__dict__': <attribute '__dict__' of 'Emp' objects>, '__weakref__': <attribute '__weakref__' of 'Emp' objects>}
{'name': 'Naga', 'age': 23, 'sal': 20000}
{'name': 'RAM', 'age': 20, 'sal': 30000}